header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    background: #000 url("/img/pixel.webp") 50% 0;
    margin: 0;
    padding: 20px 10px 7px;
}
header .icon{
    z-index: 12;
    position: absolute;
    margin-top: -19px;
    margin-left: -80%;
    padding-top: 0;
}
.cabecalho{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.cabecalho a{
    color: white;
    font-size: 30px;
    font-family: "WW";
    text-decoration: none;
}
@media screen and (max-width:750px) {
    .cabecalho{
        width: 80%;
    }
}

@media screen and (max-width:650px) {
    header .icon img{
        width: 70px;
        height: 80px;
    }
    header{
        height: 50px;
    }
  }