@font-face {
  font-family: "Open Sans";
  font-weight: 100;
  src: url("./font/OpenSans-Light.ttf");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 200;
  src: url("./font/OpenSans-Regular.ttf");
}@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  src: url("./font/OpenSans-SemiBold.ttf");
}@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  src: url("./font/OpenSans-Medium.ttf");
}@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  src: url("./font/OpenSans-Medium.ttf");
}@font-face {
  font-family: "Open Sans";
  font-weight: 500;
  src: url("./font/OpenSans-Medium.ttf");
}@font-face {
  font-family: "Open Sans";
  font-weight: 600;
  src: url("./font/OpenSans-Medium.ttf");
}@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  src: url("./font/OpenSans-Medium.ttf");
}
*{
  transition: all 0.2s ease-in-out;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
  font-weight: 200;
  font-size: 15px; 

}
main{
  width: 100%;
  height: auto;
  position: absolute;
  display: flex;
  flex-direction: column;
}
.cont{
  width: 100%;
  height: auto;
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cont2{
  width: 80%;
  height: auto;
}