.card{
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;  
}
.card img{
  margin-top: 20px;
  margin-bottom: 20px;
    width: 100%;
}
.card img:hover{
  scale: 1.06;
}
#not::after{
  margin-top: 29%;
  z-index: -1;
  position: absolute;
  content: "";
  width: 100%;
  height: 600px;
  background: #f6f5f2 url("./texture.png");
  -webkit-mask-image: url("./mask.svg");
  mask-image: url("./mask.svg");
  -webkit-mask-position: center top;
  mask-position: center top;
  -webkit-mask-size: 1440px 4000px;
  mask-size: 1440px 4000px;
}
.card p:nth-of-type(1):hover{
  cursor: pointer;
  text-decoration: underline;
}
#not{
  padding-bottom: 65px;
}
@media screen and (max-width:650px) {
  #not::after{
    height: 80vh;
    margin-top: 48%;
  }
  #cont-card{
    flex-direction: column;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
