.conteudo{
    width: 100%;
    height: 600px;
}
.banner{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}
.banners{
    display: flex;
    width: 100%;
    height: 100%;
}
#show{
    animation: painel 0.1s linear;
    display: flex;
}
.painel{
    display: none;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px -1px 752px rgba(0, 0, 0, 1);
}
.banner .pontos{
    margin-top: 66vh;
    width: 100px;
    height: 30px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#ponto{
    background: white;
}
.banner .pontos span{
    cursor: pointer;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 1px;
    background: rgba(255, 255, 255, 0.438);
}
.barra{
    width: 100%;
    height: 24%;
    color: black;
    display: flex;
    justify-content: center;align-items: center;
    align-items: center;
    background: #F6F5F2;
}
.barra p{
    justify-content: center;
    text-align: center;
    font-size: 27px;
    font-weight: 600;
    width: 60%;
}
@keyframes painel {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}
@media screen and (max-width:650px) {
    .barra p{
      width: 80%;
      font-size: 20px;
    }
    .banner .pontos{
        margin-top: 62vh;
    }
  }
