
#quem .titulo{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 40px;
    font-weight: 400;
}

.l1{
    width: 50%;
}
.l2{
    width: 50%;
}
.info2{
    color: black;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 400px;
}
.info2 p{
    width: 80%;
}
.info2 .t{
    font-weight: 300;
    font-size: 43px;
}
.info2 p:nth-of-type(2){
    margin-top: 20px;
    font-size: 18px;
}
#info{
    box-shadow: inset -20px -20px 145px rgba(0, 0, 0, 0.76);
}
.linha2{
    height: 2px;
    width: 100px;
    background: #34573a;
}
.dados p{
    font-size: 25px;
}
.dados{
    align-items: center;
    width: 100%;
    justify-content: space-between;    
    font-size: 35px;
    display: flex;
}
.dados:nth-child(1){
    border-bottom: 0,5px solid #34573a;
    border-top: 1px solid #34573a;
}
.dados:nth-child(2){
    border-bottom: 1px solid #34573a;
    border-top: 1px solid #34573a;
}
.dados p:nth-of-type(1){
    padding-right: 20px;
    font-family: "WW";
    font-size: 68px;
    color: #34573a;
}
.descri{
    display: flex;
    justify-content: center;
    align-items: center;
}
.head{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
@media screen and (max-width:650px) {
    .descri{
        margin-top: 43px;
        justify-content: center;
        min-height: 90%;
        flex-direction: column;
    }
    .l1{
        padding-bottom: 120px;
    }
    .l1, .l2{
        width: 80%;
    }
    .info2{
        align-items: center;
    }
    #quem{
        width: 100%;
        text-align: center;
        height: 150vh;        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    #quem .titulo{
        font-size:30px;
    }
}
